body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.banner {
  width: 100%;
  height: 100vh;
  background-image: url("../img/bg1.jpg");
  background-size: cover;
  background-position: center;
}

.contact .banner {
  background-image: none !important;
  background-color: #333;
  height: 120px;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 120px;
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
.navbar ul li ::after {
  content: "";
  height: 3px;
  width: 0;
  background: #da70d6;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover ::after {
  width: 100%;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #ffffff;
}

.content h1 {
  font-size: 70px;
  margin-top: 50px;
}

.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 3px solid #da70d6;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
}

.middle-section {
  background-color: #4e4b4b;
  color: #ffffff;
  margin-top: -20px;
  padding-bottom: 4rem;
  padding-top: 2rem;
}

.writups {
  text-align: center;
}

.offer {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #da70d6;
}

.types {
  display: flex;
}
.med {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
}

.med {
  border-radius: 50%;
  border: 5px solid #da70d6;
}

.types div {
  margin-right: 1rem;
}
.types div:first-child {
  margin-left: 1rem;
}
.types h3 {
  text-align: center;
}

.yo {
  text-align: center;
  margin-top: 10px;
}
.form {
  text-align: center;
}
form div {
  margin-bottom: 1.5rem;
}
input {
  width: 40%;
  height: 2rem;
}
textarea {
  width: 40%;
}

footer {
  text-align: center;
  color: #ffffff;
  background-color: black;
  /* margin-top: 50px; */
  font-family: "Times New Roman", Times, serif;
  line-height: 25px;
  margin-top: -20px;
  padding-top: 2rem;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.social-links a {
  margin: 0 50px;
  padding: 0;
  text-decoration: none;
  color: white;
}
footer h3 {
  text-decoration: underline;
  text-decoration-color: #da70d6;
}
.footer-bottom {
  text-transform: uppercase;
}

.c-form {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.c-form input,
.c-form textarea {
  width: 100%;
}

.c-form button {
  color: black;
  margin-bottom: 2rem;
  margin-top: -1rem;
  border: 3px solid black;
}
